mixin composers_list_entry_mixin(composer_name, composer_bio, avatar_url, composer_url)
  a.composers-list-entry(href=composer_url)
    .img-container
      img(src=avatar_url)
    .text-copy
      h3= composer_name
      p= composer_bio
    
    