include composers_list_entry_mixin

+composers_list_entry_mixin('John Smith', 'John was born with a viola in his mouth and a maraca between his toes. A true prodigy.', '../assets/images/default_avatar.jpg', 'composer_page.pug')