.composers-list-entry {

    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: 4vh;

    @include media-breakpoint-down(md) {
        padding-left: 0;
    }

    @include transition(background-color 0.2s ease-in-out);
    @include transition(color 0.2s ease-in-out);

    background: none;

    &:hover {
        .img-container {
            filter: drop-shadow(0 0 0.5rem rgba($middle-blue-purple, 1));
        }
    }

    display: flex;
    align-items: center;

    .img-container {
        float: left;
        width: 10vh;
        height: 10vh;

        flex-shrink: 0;

        @include media-breakpoint-down(md) {
            width: 6vh;
            height: 6vh;
        }

        overflow: hidden;
        display: block;
        border-radius: 50%;
        margin-right: 1em;
        filter: drop-shadow(0 0 0.35rem rgba($black-coffee, 1));

        @include transition(filter 0.3s ease-in-out);
    }

    .img-container img {
        width: 100%;
    }

    .text-copy {
        flex-grow: 1;

        p {
            margin: 0;
        }
    }
}