.gallery-card:hover {
    box-shadow: 0 0 2rem lighten(rgba($middle-blue-purple, 0.7), 10%);
}
.gallery-card {
    
    @include transition(box-shadow 0.3s ease-in-out);
    
    $min_label_height: 2.75rem;

    max-height: calc(#{$gallery_card_height} + #{$min_label_height});
    max-width: 25%;
    margin: 1rem 1rem;

    display: inline-flex;
    flex-direction: column;
    //overflow: hidden;

    box-shadow: 0 0 2rem darken(rgba($middle-blue-purple, 0.7), 60%);

    @include media-breakpoint-down(md) {
        max-height: calc(#{$mobile_gallery_card_height} + #{$min_label_height});
        max-width: 90%;
    }

    >.card-image {
        width: inherit;
        overflow: hidden;
        // display: block;
        // position: relative;

        
    }
    
    .score-link img {
        width: 100%;
    }

    >.card-label {
        position: relative;
        background-color: $black-coffee;

        >.label-links {
            width: calc(100% - 6vh);
            display: block;
            padding-left: 0.5rem;
            padding-bottom: 0.3rem;
            >a {
                display: block;
            }
            >p {
                padding-left: 0.25rem;
                margin: 0;
            }
        }
    }

    .card-avatar {
        position: absolute;
        bottom: -1.25vh;
        right: -1.25vh;
        width: 7vh;
        height: 7vh;
        border-top-left-radius: 25%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 5%;
        overflow: hidden;
        display: block;

        filter: drop-shadow(0 0 0.5rem darken(rgba($middle-blue-purple, 0.7), 60%));

        >img {
            width: inherit;
            height: inherit;
        }
    }
}