.navbar {

    $border_bottom_width: 4px;

    width: 100%;
    height: $navbar_height;
    background-color: $navbar_color;

    overflow: hidden;
    margin: 0;
    padding: 0;

    >.container {

        display: flex;
        align-items: stretch;
        justify-content: space-evenly;

        height: 100%;

    }

    span {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // box-sizing: border-box;
        border-bottom: $border_bottom_width solid transparent;
        padding-top: $border_bottom_width;

        @include transition(border-bottom-color 0.15s ease-in-out);
        @include transition(background-color 0.15s ease-in-out);
    }

    span a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        @include transition(color 0.15s ease-in-out);
    }

    span:hover {
        background-color: lighten($navbar_color, 5%);
        border-bottom: $border_bottom_width solid lighten($navbar_color, 25%);
    }
}