/*
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

body {

    font-family: 'Lato', sans-serif;
    color: darken(rgba(255,255,255,0.85), 7%);

    h2 {
        font-weight: bold;
        font-size: 2.5rem;
    }

    // on smaller screens need bigger font
    font-size: 1rem;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
}

header {
    font-family: 'Playfair Display', serif;
    color: $header_color;
    
    h1 {
        font-size: 6rem;
    }
}