/*
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

body {

    a {
        color: $hyperlink_color;
        text-decoration: none;
    }

    a:hover {
        color: $hyperlink_hover_color;
        text-decoration: none;
    }


    font-family: 'Lato', sans-serif;
    color: $text_color;

    h2 {
        font-weight: bold;
        font-size: 2.5rem;
    }

    // on smaller screens need bigger font
    font-size: 0.95rem;

    @include media-breakpoint-up(md) {
        font-size: 0.95rem;
    }
}

header {
    font-family: 'Playfair Display', serif;
    color: $header_color;
    
    h1 {
        font-size: 6rem;
    }
}