extends page_template.pug

block content 
  h2 About
  p Founded in 2001, CCP aims to unify Columbia students through a shared passion for classical music. Our mission is twofold—to provide musicians with the opportunity to perform for their peers at an audition-free basis, and to deliver quality concerts enjoyed by the Columbia community. Aside from providing performance venues, we offer discounted tickets to Lincoln Center concerts through our collaboration with the Chamber Music Society. Come witness the beauty of Mozart's sonatas or indulge in the grace of waltzes by Chopin.
  img.content-banner(src=require('../assets/images/kittycat.jpg'))
