extends page_template.pug

block content 
  h2 Composers
  p Here are the students who have submitted scores so far.
  
  .composers-list
    - var n = 0;
    while n < 20
      - n++
      include dummy_composer_entry
