include gallery_card_mixin

+gallery_card_mixin('Forest Symphony', 'Brahms', '../assets/images/score_large.jpg', 'dummy_score_page.pug', 'dummy_author_page.pug', '../assets/images/default_avatar.jpg')