#loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='loginModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#loginModalLabel.modal-title Log in
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password' placeholder='Password')
      .modal-footer
        small #[a(href="registration_form.pug") New? Sign up]
        | |
        small #[a(href="forgot_password_form.pug") Forgot your password?]
        br
        a.btn.btn-primary(href="user_dashboard.pug") Log in